<section id='actions'>

  <ul class='search_list'>
    <li class='not_a_link'>
      <% if params[:controller] == "refinery/photo_gallery/admin/collections" %>
          <%= render :partial => "/refinery/admin/search",
                     :locals => {
                         :url => refinery.photo_gallery_admin_collections_path
                     } %>
      <% elsif params[:controller] == "refinery/photo_gallery/admin/albums" %>
          <%= render :partial => "/refinery/admin/search",
                     :locals => {
                         :url => refinery.photo_gallery_admin_albums_path
                     } %>
      <% end %>
    </li>
  </ul>

  <ul >
    <li>
      <%= link_to t('.albums.manage'), refinery.photo_gallery_admin_albums_path,
                  :class => '' %>
    </li>
    <li>
      <%= link_to t('.albums.new'), refinery.new_photo_gallery_admin_album_path,
                  :class => '' %>
    </li>
  </ul>

  <ul  >
    <li>
      <%= link_to t('.collections.manage'), refinery.photo_gallery_admin_collections_path,
                  :class => '' %>
    </li>
    <li>
      <%= link_to t('.collections.new'), refinery.new_photo_gallery_admin_collection_path,
                  :class => '' %>
    </li>
  </ul>
</section>

