<% content_for :body_content_right do %>
    <%= message_photos_length_is_zero %>


    <% cache "refinery/photo_gallery/albums/#{params[:id]}" do %>
        <h1 class="single-thumbnail-title post-title-color gdl-title">
          <%= @album.title %>
        </h1>

        <div>
          <%= raw @album.description %>
        </div>
    <% end %>

    <div id="photo_gallery">
        <%= render :partial => "photos" %>
    </div>
<% end %>

<% content_for :body_content_left do %>
    <%= render :partial=> "refinery/photo_gallery/shared/submenu" %>
<% end %>

<%= render :partial=> "refinery/photo_gallery/shared/layout" %>

